.Dashboard
  max-height: 100vh
  overflow: hidden;

  .content
    center(column)
    margin: $xxl 0
    opacity: 0
    animation: fadeUp 600ms 60ms $expo forwards

  .projectList
    @extend h1
    display flex
    flex-direction column
    flex-grow 0
    list-style none
    position relative

    for items in 1..99
      :nth-child({items})
        opacity: 0
        animation: fadeUp 600ms 60ms*items $expo forwards

    .Button.link
      font-size: pxToRem(32)
      padding-bottom: $sm
      margin-bottom: $sm

  .background
    animation: slideDown 600ms $expo forwards
    background: $charcoal
    height: 100%
    position: absolute
    top: 0
    width: 100%

  .Button.full
    transform: scale(0)
    animation: pop 1200ms 200ms forwards
