.Dashboard
  align-items center
  display flex
  flex-direction column
  height 90vh
  min-height 500px
  justify-content center

  .content
    align-items center
    display flex
    flex-direction column
    justify-content center

  .projectList
    @extend h1
    display flex
    flex-direction column
    flex-grow 0
    list-style none
    position relative
