.Dashboard
  background: $pebble
  padding $xxl 0 0
  position: relative
  center(column)
  min-height: 100vh

  .content
    center()
    margin: $xxl 0

    .projectList
      @extend h1
      display flex
      flex-direction column
      flex-grow 0
      list-style none
      position relative

      .Button.link
        font-size: pxToRem(32)
        padding-bottom: $sm
        margin-bottom: $sm

    .Button.noLabel
      border-color: $copper
