.FileUploader
  center()
  min-height: pxToRem(400)
  min-width: 100vw
  outline-offset: -($lg)
  outline $xxs dashed $concrete
  padding: $xl
  position: relative
  transition: 600ms $expo
  text-align: center

  .instructions
    color: rgba($charcoal, .3)
    padding: $xl

  .tooltip
    @extend h3
    color: $copper
    display: none

  &.active
    outline-color $copper
    outline-offset: -($md)

    .instructions
      opacity: 0

    .tooltip
      display: inline-block
      opacity: 1
      position: absolute
      top: 50%
      transform: translate(-50%, -50%);


    .ImageList
      opacity: .3
