.Headline
  padding $xxl 0 0
  position: relative

  .content
    z-index: 2
    margin: $xxl 0

    .date
      margin $xl 0 0
  // 
  //   for items in 1..3
  //     :nth-child({items})
  //       opacity: 0
  //       animation: fadeUp 900ms 40ms*items $expo forwards
  //
  // .background
  //   animation: slideUp 800ms $expo forwards
  //   background: $paper
  //   height: 100%
  //   position: absolute
  //   top: 0
  //   width: 100vw
