.Headline
  padding $xxl 0 0
  position: relative

  .content
    margin-top: pxToRem(94)
    z-index: 2

    h1, p
      color: $paper

    .date
      margin $xl 0 0

    for items in 1..3
      :nth-child({items})
        opacity: 0
        animation: fadeUp 900ms 40ms*items $expo forwards

  .background
    animation: slideUp 800ms $expo forwards
    background: $charcoal
    height: 100%
    position: absolute
    width: 100%
