.ImageList
  column-count 2
  column-gap 0
  padding 0

  +above($small)
    column-count 3

.ImageListItem
  break-inside avoid
  padding $smPadding*.5 $smPadding
  position relative

  & > img
    height auto
    width 100%
