.ImageList
  column-count 1
  column-gap 0
  padding 0

  +above($mqSmall)
    column-count 2

  +above($mqMedium)
    column-count 3

  +above($mqLarge)
    column-count 4

.ImageListItem
  break-inside avoid
  padding $tiny $small
  position relative

  & > img
    height auto
    width 100%
