.ImageList
  column-count 1
  column-gap 0
  padding 0

  +above($small)
    column-count 2

  +above($medium)
    column-count 3

  +above($large)
    column-count 4

.ImageListItem
  break-inside avoid
  padding $smPadding*.5 $smPadding
  position relative

  & > img
    height auto
    width 100%
