.Navigation
  align-items center
  border-bottom 1px solid $concrete
  display flex
  justify-content space-between
  padding $sm $lg
  position relative

  .NavigationItems
    align-items: center
    display: flex
