.Navigation
  align-items center
  background: $paper
  border-bottom pxToRem(2) solid $pebble
  display flex
  justify-content space-between
  padding $md $lg
  position fixed
  top: 0
  width: 100%
  z-index: 3

  .NavigationItems
    align-items: center
    display: flex
