.ProjectDetail
  background: $pebble
  display: flex
  position: relative
  width: 100vw

  .ProjectSection
    padding: pxToRem(100) 0 pxToRem(100) pxToRem(24)
    min-height: 100vh

    width: 100vw
    max-width: calc(100vw - 80px)

    +above($break-sm)
      padding: pxToRem(120) 0 pxToRem(120) pxToRem(48)
      max-width: calc(100vw - 120px)

    +above($break-lg)
      padding: pxToRem(160) 0 pxToRem(160) pxToRem(120)
      max-width: calc(100vw - 300px)

  .tempToggle
    position: absolute
    top: 24px
    left: 48px
    z-index: 99
    transform: scale(.75)
