.ProjectForm
  center()
  height: 100vh

  .addProject
    center()
    margin-top: pxToRem(94)

    .Form
      margin: $md 0 $lg 0

      input
        border: pxToRem(2) solid $concrete
        min-width: pxToRem(400)
        margin-bottom: $sm
        display: flex
        outline: none
        padding: $md
        font-size: pxToRem(16)

      input::placeholder
        color: rgba($charcoal, .3);

      :last-child
        margin-bottom: 0

.Project-deleted
    center()
    min-height: 100vh

.Project-section
  padding pxToRem(70) pxToRem(120) pxToRem(30)
