/*
 * --------------------------------------------------------
 *  Mixins
 * --------------------------------------------------------
 */


// Media Queries
above(width)
  @media screen and (min-width: width)
    {block}

below(width)
  @media screen and (max-width: width)
    {block}
