/*
 * --------------------------------------------------------
 *  Mixins
 * --------------------------------------------------------
 */


// Media Queries
above(width)
  @media screen and (min-width: width)
    {block}

below(width)
  @media screen and (max-width: width)
    {block}

// Equalize Height
html, body, #root, #root > div
  height 100%

#root
  padding $mdPadding
