/*
 * --------------------------------------------------------
 *  Font Definitions
 * --------------------------------------------------------
 */


@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600,800')

@font-face
  font-family 'Reglo-Bold'
  src url('../../fonts/Reglo-Bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/Reglo-Bold.woff') format('woff'), url('../../fonts/Reglo-Bold.ttf')  format('truetype'), url('/fonts/Reglo-Bold.svg#Reglo-Bold') format('svg')
