/*
 * --------------------------------------------------------
 *  Variables
 * --------------------------------------------------------
 */


// Colors
$copper   = rgba(226, 164, 128, 100)
$slate    = #000
$concrete = #DDD
$paper    = #FFF


// Fonts
$headlineFont = 'Reglo-Bold', serif
$bodyFont     = 'Work Sans', sans-serif


// Margin & Padding
$smPadding = 8px
$mdPadding = 16px
$lgPadding = 32px


// Easing
$expo = cubic-bezier(.19, 1, .22, 1)
$bounce = cubic-bezier(.175, .885, .32, 1.275)


// Media Queries
$md = 1000px
