/*
 * --------------------------------------------------------
 *  Variables
 * --------------------------------------------------------
 */


// Colors
$copper   = rgba(226, 164, 128, 100)
$tan      = rgba(255, 229, 214, 100)
$slate    = #000
$concrete = rgba(239, 239, 239, 239)
$paper    = #FFF


// Fonts
$headlineFont = 'Reglo-Bold', serif
$bodyFont     = 'Work Sans', sans-serif


// Margin & Padding
$smPadding = 8px
$mdPadding = 16px
$lgPadding = 32px


// Easing
$expo = cubic-bezier(.19, 1, .22, 1)
$bounce = cubic-bezier(.175, .885, .32, 1.275)


// Media Queries
$phone   = 480px
$phablet = 750px
$tablet  = 1024px
