/*
 * --------------------------------------------------------
 *  Variables
 * --------------------------------------------------------
 */


// Colors
$copper   = rgba(226, 164, 128, 100)
$tan      = rgba(255, 229, 214, 100)
$slate    = #000
$concrete = rgba(239, 239, 239, 239)
$paper    = #FFF


// Fonts
$headlineFont = 'Reglo-Bold', serif
$bodyFont     = 'Work Sans', sans-serif


// Spacing
$tiny = 4px
$small = 8px
$medium = 16px
$large = 32px
$xlarge = 64px
$xxlarge = 128px
$huge  =  240px


// Easing
$expo = cubic-bezier(.19, 1, .22, 1)
$bounce = cubic-bezier(.175, .885, .32, 1.275)


// Media Queries
$mqSmall   = 480px
$mqMedium = 750px
$mqLarge  = 1200px
