@import

.Card
  background $paper
  box-shadow 0 pxToRem(2) pxToRem(10) 0 $slate
  margin-bottom $lg
  padding $lg
  width 100%

  +above($break-sm)
    margin-bottom $xl
    padding $xl

  .content
    position relative
