/*
 * --------------------------------------------------------
 *  Base styles
 * --------------------------------------------------------
 */

// Equalize Height


html
  font-smoothing antialiased
  text-size-adjust 100%

body
  box-sizing border-box
  margin 0
  padding 0

  *
    box-sizing inherit

html, body, #root, #root > div
  height 100%

#root
  margin 0
  padding 0


a
  color $slate
  font-weight 400
  text-decoration none

h1, h2, h3, h4, h5
  font-family $headlineFont
  font-weight normal
  text-transform uppercase
  letter-spacing 2px
  margin 0
  padding $smPadding
  text-align center

h1
  color $slate
  font-size 32px
  letter-spacing 5px

  +above($phone)
    font-size 42px

h2
  color $copper
  font-size 18px

h3
  color $copper
  font-size 18px

p
  line-height 1.6

p, ol, ul
  font-family $bodyFont
  font-size 1rem
  font-weight 400

button
  background $copper
  border 0
  border-radius 100px
  color $paper
  cursor pointer
  transition all 600ms $expo
  transform: translateZ(0) scale(1)

  &:hover
    transform: scale(1.05)

button.circle
  background none
  border 2px solid $copper
  height 32px
  position relative
  width 32px

  a
    color $slate
    font-family $bodyFont
    font-size 24px
    font-weight 400
    left 7px
    position absolute
    text-align center
    transform: translateZ(0)
    top 0

button.secondary
  appearance none
  background none
  border 3px solid $copper
  border-radius 48px
  color $slate
  font-family $headlineFont
  font-size 16px
  letter-spacing 1px
  padding 16px 32px 12px
  text-transform uppercase

ol

ul
  padding 0

strong
  font-weight 600
em
  font-style italic

.border
  background $tan
  height 1px
  margin $lgPadding*3 auto
  width 640px
