/*
 * --------------------------------------------------------
 *  Base styles
 * --------------------------------------------------------
 */


html
  font-smoothing antialiased
  text-size-adjust 100%

body
  box-sizing border-box

  *
    box-sizing inherit

a
  color $slate
  font-weight 400
  text-decoration none

h1, h2, h3, h4, h5
  font-family $headlineFont
  font-weight normal
  text-transform uppercase
  letter-spacing 2px
  margin 0
  padding $smPadding
  text-align center

h1
  color $slate
  font-size 42px
  letter-spacing 5px

h2
  color $copper
  font-size 18px

h3
  color $copper
  font-size 18px

p, ol, ul
  font-family $bodyFont
  font-size 1rem
  font-weight 400

img

ol

ul
  padding 0

strong
  font-weight 600
em
  font-style italic
