button
  background $copper
  border 0
  border-radius 360px
  color $paper
  cursor pointer
  margin $medium 0
  padding 16px 32px 12px
  transition all 600ms $expo
  transform: translateZ(0) scale(1)

  &:hover
    transform: scale(1.01)

button.circle
  background none
  border 2px solid $copper
  font-size 18px
  font-weight 800
  height 36px
  padding 0
  position relative
  width 36px

  a
    color $slate
    font-family $bodyFont
    font-size 24px
    font-weight 400
    left 9px
    position absolute
    text-align center
    top 1px

button.secondary
  appearance none
  background none
  border 3px solid $copper
  border-radius 48px
  color $slate
  font-family $headlineFont
  font-size 16px
  letter-spacing 1px
  text-transform uppercase
