.Button
  align-items: center;
  box-sizing: border-box
  background: none
  border pxToRem(3) solid $copper
  border-radius 360px
  color: $charcoal
  cursor pointer
  display: inline-flex
  font-size: pxToRem(14)
  letter-spacing: pxToRem(.5)
  line-height: 1
  padding: pxToRem(10) $md
  transition: all 400ms $expo
  font-weight: 800

  &:focus
    outline: none

  &:hover
    transform: scale(1.02)

  svg
    height: pxToRem(14)
    margin-right: $sm
    width: $md


  // Styles based on Component props

  &.primary
    background: $copper
    border: none
    color: $paper

  &.success
    &:hover
      border-color: $copper

  &.danger
    &:hover
      border-color: $carmine

  &.link
    border: none
    font-family: $bodyFont
    font-size: pxToRem(16)
    letter-spacing: pxToRem(1)
    margin: 0 $md
    padding: $sm 0
    text-transform: uppercase

    &:after
      background: $copper
      bottom: $xs
      content: ''
      height: pxToRem(3)
      left: 0
      position: absolute
      transition: all 400ms $expo
      width: 0

    &:hover
      &:after
        width 100%

  &.noLabel
    border-color: $flint
    padding: $sm

    svg
      height: pxToRem(16)
      margin: 0
      width: pxToRem(16)

  &.noPadding
    border: none
    padding: 0

    svg
      width: pxToRem(40)
      height: pxToRem(40)

  &.user
    background: $copper
    width: pxToRem(40)
    height: pxToRem(40)
    padding: pxToRem(10) 0
    text-align center

    .userInitials
      color: $paper
      font-family: $bodyFont
      font-weight: 800
      display inline-block
      margin auto
      letter-spacing pxToRem(1.5)
