.Card
  boxShadow()
  background $paper
  margin-bottom $lg
  padding $lg
  position: relative
  width 100%

  +above($break-sm)
    margin-bottom $xl
    padding $xl
  > :last-child
    margin-bottom:0
    padding-bottom: 0
