.Card
  background $paper
  box-shadow 0 pxToRem(4) pxToRem(20) 0 $concrete
  margin-bottom $lg
  padding $lg
  position: relative
  width 100%

  +above($break-sm)
    margin-bottom $xl
    padding $xl
