/*
 * Text Area
 */

.TextArea
  display: flex
  justify-content: space-between
  height: auto

  textarea
    background: transparent
    border: none
    display block
    line-height: 1.6
    padding: pxToRem(12) $md
    outline: none
    width: 100%

  *::placeholder
    color: $concrete

  .Icon
    margin: pxToRem(12) 0 0 $md
    stroke: $copper

  // Custom styles mapped to props

  &.imageItem
    background: $paper
    min-height: pxToRem(50)
    max-height: pxToRem(50)
    position: relative
    transition: min-height 200ms $bounce
    transform: translate3d(0,0,0)

    &:focus,
    &:hover
      min-height: pxToRem(74)

      &:after
        height: 0

    &:after
      background: $paper
      bottom: 0
      content: ""
      height: $md
      left: 0
      position: absolute
      width: 100%

  &.heading,
  &.subheading
    textarea
      border-bottom: 1px solid $flint
      line-height: 1.2
      padding: 0
      transition: 200ms ease

      &:hover
        border-color: $concrete

      &:focus
        border-color: $copper

  &.heading > textarea
    @extend h1
    margin-bottom: $lg
    width: 100

  &.subheading > textarea
    @extend h3
    max-height: pxToRem(32)

  &.center
    text-align: center
