.Icon
  fill: none
  stroke: $copper
  stroke-width: 3

/*
 * Specific Icon Styles
 */

#logo
  stroke-width: 1

  :nth-child(4),
  :nth-child(5)
    fill: $copper
    stroke: none

#more
  :nth-child(3)
    fill: $charcoal
    stroke: none

#notification
  fill: $copper
  stroke: none

#plus
  fill: $charcoal
  stroke: none
