/*
 * Mixins
 */

Stroke($color=$charcoal, $width=3)
  fill: none
  stroke: $color
  stroke-width: $width
  transition: 400ms $expo

Fill($color=$charcoal)
  fill: $copper
  stroke: none
  transition: 400ms $expo


/*
 * Specific Icon Styles
 */

.Icon

  &.logo
    Stroke($copper, 1)

    :nth-child(4),
    :nth-child(5)
      Fill($copper)

  &.add
    Stroke($charcoal, 6)

  &.audio
    Stroke($copper)

  &.notification
    Fill($copper)

  &.plus
    Stroke($charcoal, 6)

  &.cancel
    Stroke($charcoal, 6)

  &.confirm
    Stroke($charcoal, 6)

  &.delete
    Stroke()

  &.popout
    Stroke()

  &.resize
    Stroke()

    :nth-child(1),
    :nth-child(4)
      Stroke()

  &.video
    Stroke($copper)
