/*
 * Mixins
 */

Stroke($color=$charcoal, $width=8)
  fill: none
  stroke: $color
  stroke-width: $width

Fill($color=$charcoal)
  fill: $copper
  stroke: none


/*
 * Specific Icon Styles
 */

.logo
  Stroke($copper, 1)

  :nth-child(4),
  :nth-child(5)
    Fill($copper)

.add
  Stroke()

.notification
  Fill($copper)

.plus
  Stroke()

.cancel
  Stroke()

.confirm
  Stroke()
