.ImageViewer
  background: rgba($pebble, .9)
  display flex
  flex-direction column
  align-items center
  justify-content center
  height: 100vh
  left: 0
  position: fixed
  top: 0
  width: 100vw
  z-index: 3

  .container
    display: inline-flex
    height: calc(100% - 40vh)
    flex-direction: column
    position: relative
    width: auto
    max-width calc(100% - ($xl * 2))

    img
      height: 100%
      object-fit: contain
      width: auto

  .toolbar
    align-items: center
    bottom: 0
    background: $paper
    display: flex
    left: 0
    position: absolute
    padding: $md
    width: 100%

    :nth-child(1)
      flex-grow: 1



  //Viewer Controls
  .controls
    > div
      align-items: center
      cursor: pointer
      display: flex
      flex-direction: column
      font-size: pxToRem(14)
      position: absolute

    .previousImage
      left: $lg
      top: 50%
      transform: translateY(-50%);

    .nextImage
      right: $lg
      top: 50%
      transform: translateY(-50%);


    .close
      left: 50%
      position: absolute
      top: $lg
      transform: translateX(-50%);

.ImageViewer-backdrop
  position absolute
  top 0
  left 0
  width 100%
  height 100%