/*
 * --------------------------------------------------------
 *  Base styles
 * --------------------------------------------------------
 */

// Equalize Height

html
  font-smoothing: antialiased
  -webkit-font-smoothing: antialiased
  text-size-adjust: 100%

body
  box-sizing: border-box
  font-family: $bodyFont
  font-size: pxToRem(16)
  font-weight: 400
  letter-spacing: pxToRem(-.5)
  margin: 0
  padding: 0

  *
    box-sizing: inherit

a
  color: $charcoal
  font-weight: 400
  text-decoration: none

h1, h2, h3, h4, h5
  font-family: $headlineFont
  font-weight: normal
  text-transform: uppercase
  letter-spacing: pxToRem(1)
  margin: 0
  padding: $sm 0
  text-align: center

h1
  color: $charcoal
  font-size: pxToRem(36)

h2
  color: $copper
  font-size: pxToRem(24)

h3
  color: $copper
  font-size: pxToRem(18)

p
  line-height: 1.6
  margin: 0
  padding: $sm

p.large
  font-size: pxToRem(18)

ul
  padding: 0

strong
  font-weight: 400

em
  font-style: italic
