/*
 * --------------------------------------------------------
 *  Base styles
 * --------------------------------------------------------
 */

// Equalize Height

html
  font-smoothing: antialiased
  -webkit-font-smoothing: antialiased
  text-size-adjust: 100%

body
  background: $paper
  box-sizing: border-box
  font-family: $bodyFont
  font-size: pxToRem(16)
  font-weight: 400
  margin: 0
  padding: 0

  *
    box-sizing: inherit

a
  color: $charcoal
  font-weight: 400
  text-decoration: none

h1, h2, h3, h4, h5
  color: $charcoal
  font-family: $bodyFont
  font-weight: 800
  text-transform: uppercase
  letter-spacing: pxToRem(1)
  margin: 0
  padding: $sm 0

h1
  font-size: pxToRem(64)

h2
  font-size: pxToRem(48)

h3
  font-size: pxToRem(24)

h4
  font-size: pxToRem(15)

h5
  color: $charcoal
  font-size: pxToRem(12)

p
  line-height: 1.6
  margin: 0
  padding: $sm

p.large
  font-size: pxToRem(18)

p.hint
  color: $slate
  font-family: $editorFont
  font-size: pxToRem(12)
  padding: 0
  text-transform: uppercase

ul
  padding: 0

strong
  font-weight: 400

em
  font-style: italic

textarea
  font-family: $bodyFont
  font-size: pxToRem(16)
  resize: none

  &:hover,
  &:focus,
  &:hover:active
    border: none
    outline: none
