/*
 * --------------------------------------------------------
 *  Font Definitions
 * --------------------------------------------------------
 */


@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:400,600|Overpass:400,600,800')

@font-face
  font-family: 'Apercu'
  src: url('../../fonts/ApercuTrial-Regular.eot')
  src: url('../../fonts/ApercuTrial-Regular.eot?#iefix') fo rmat('embedded-opentype'),url('../../fonts/ApercuTrial-Regular.woff') format('woff'), url('../../fonts/ApercuTrial-Regular.ttf') format('truetype'), url('../../fonts/ApercuTrial-Regular.svg#ApercuTrial-Regular') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Apercu'
  src: url('../../fonts/ApercuTrial-Italic.eot')
  src: url('../../fonts/ApercuTrial-Italic.eot?#iefix') fo rmat('embedded-opentype'),url('../../fonts/ApercuTrial-Italic.woff') format('woff'), url('../../fonts/ApercuTrial-Italic.ttf') format('truetype'), url('../../fonts/ApercuTrial-Italic.svg#ApercuTrial-Italic') format('svg')
  font-weight: normal
  font-style: italic

@font-face
  font-family: 'Apercu'
  src: url('../../fonts/ApercuTrial-Medium.eot')
  src: url('../../fonts/ApercuTrial-Medium.eot?#iefix') format('embedded-opentype'),url('../../fonts/ApercuTrial-Medium.woff') format('woff'), url('../../fonts/ApercuTrial-Medium.ttf') format('truetype'), url('../../fonts/ApercuTrial-Medium.svg#ApercuTrial-Medium') format('svg')
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Apercu'
  src: url('../../fonts/ApercuTrial-MediumItalic.eot')
  src: url('../../fonts/ApercuTrial-MediumItalic.eot?#iefix') format('embedded-opentype'),url('../../fonts/ApercuTrial-MediumItalic.woff') format('woff'), url('../../fonts/ApercuTrial-MediumItalic.ttf') format('truetype'), url('../../fonts/ApercuTrial-MediumItalic.svg#ApercuTrial-MediumItalic') format('svg')
  font-weight: 600
  font-style: italic

@font-face
  font-family: 'Apercu'
  src: url('../../fonts/ApercuTrial-Bold.eot')
  src: url('../../fonts/ApercuTrial-Bold.eot?#iefix') format('embedded-opentype'),url('../../fonts/ApercuTrial-Bold.woff') format('woff'), url('../../fonts/ApercuTrial-Bold.ttf') format('truetype'), url('../../fonts/ApercuTrial-Bold.svg#ApercuTrial-Bold') format('svg')
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'Apercu Mono'
  src: url('../../fonts/ApercuTrial-Mono.eot')
  src: url('../../fonts/ApercuTrial-Mono.eot?#iefix') format('embedded-opentype'),url('../../fonts/ApercuTrial-Mono.woff') format('woff'), url('../../fonts/ApercuTrial-Mono.ttf') format('truetype'), url('../../fonts/ApercuTrial-Mono.svg#ApercuTrial-Mono') format('svg')
  font-weight: normal
  font-style: normal
