/*
 * --------------------------------------------------------
 *  Font Definitions
 * --------------------------------------------------------
 */


@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600,800')

@font-face
  font-family: 'Reglo-Bold'
  src: url('../../fonts/Reglo-Bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/Reglo-Bold.woff') format('woff'), url('../../fonts/Reglo-Bold.ttf')  format('truetype'), url('/fonts/Reglo-Bold.svg#Reglo-Bold') format('svg')

@font-face
	font-family: 'Nitti'
	src: url('../../fonts/Nitti-Light.eot')
	src: url('../../fonts/Nitti-Light.eot?#iefix') fo rmat('embedded-opentype'),url('../../fonts/Nitti-Light.woff') format('woff'), url('../../fonts/Nitti-Light.ttf') format('truetype'), url('../../fonts/Nitti-Light.svg#Nitti-Light') format('svg')
	font-weight: normal
	font-style: normal

@font-face {
	font-family: 'Nitti'
	src: url('../../fonts/Nitti-Bold.eot')
	src: url('../../fonts/Nitti-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Nitti-Bold.woff') format('woff'),
		url('../../fonts/Nitti-Bold.ttf') format('truetype'),
		url('../../fonts/Nitti-Bold.svg#Nitti-Bold') format('svg')
	font-weight: bold
	font-style: normal
}
