/*
 * --------------------------------------------------------
 *  Mixins
 * --------------------------------------------------------
 */


// Media Queries
above($width)
  @media screen and (min-width: pxToEm($width))
    {block}

below($width)

  @media screen and (max-width: pxToEm($width))
    {block}


/*
 * Transform pixel values to REM/EM
 */

pxTo($px, $unit)
  ($px / 16)rem

// Exports REM values
pxToRem($px)
  pxTo($px, rem)

// Exports EM values
pxToEm($px)
  pxTo($px, em)


/*
 * Align center | center
 */

center($column=null, $horizontalOnly=null)
  align-items: center
  display: flex
  flex-direction: column
  justify-content: center

  if $horizontalOnly == 'horizontalOnly'
    align-items: flex-start

  if $column == 'column'
    flex-direction: column


/*
 * Box Shadow
 */

boxShadow($color=rgba($charcoal, .08))
  box-shadow: 0 pxToRem(4) pxToRem(24) 0 $color

hoverShadow($color=rgba($charcoal, .08))
  box-shadow: 0 pxToRem(16) pxToRem(24) 0 $color

/*
 * Text Overflow
 */

textOverflow()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap


/*
 * Arrow Down
 */


arrowDown($size = 10px, $color = $paper)
  content: ''
  width: 0
  height: 0
  border-left: $size solid transparent
  border-right: $size solid transparent
  border-top: $size solid $color
  position: absolute
  bottom: -($size)
  left: "calc(50% - %s)" % $size
