/*
 *  Variables
 */


// Colors
$copper   = rgba(226, 164, 128, 100)
$charcoal = rgba(26, 22, 19, 100)
$concrete = rgba(239, 239, 239, 239)
$pebble   = rgba(252, 251, 249, 100)
$paper    = rgba(255, 255, 255, 100)


// Fonts
$headlineFont = 'Reglo-Bold', serif
$bodyFont     = 'Work Sans', sans-serif


// Spacing
$xxs =   pxToRem(2)
$xs =    pxToRem(4)
$sm =    pxToRem(8)
$md =    pxToRem(16)
$lg =    pxToRem(24)
$xl =    pxToRem(48)
$xxl =   pxToRem(96)

// Easing
$expo   = cubic-bezier(.19, 1, .22, 1)
$bounce = cubic-bezier(.175, .885, .32, 1.275)
$sine   = cubic-bezier(0.445, 0.05, 0.55, 0.95)


// Media Queries
$break-sm  = 480
$break-md  = 750
$break-lg  = 1200
$break-xl  = 1600
