/*
 *  Variables
 */


// Colors
$copper   = rgba(226, 164, 128, 100)
$tan      = rgba(255, 229, 214, 100)
$slate    = rgba(35, 35, 35, 100)
$concrete = rgba(239, 239, 239, 239)
$paper    = rgba(255, 255, 255, 100)


// Fonts
$headlineFont = 'Reglo-Bold', serif
$bodyFont     = 'Work Sans', sans-serif


// Spacing
$xs =   pxToRem(2)
$sm =   pxToRem(8)
$md =   pxToRem(16)
$lg =   pxToRem(24)
$xl =   pxToRem(48)
$xxl =   pxToRem(96)

// Easing
$expo   = cubic-bezier(.19, 1, .22, 1)
$bounce = cubic-bezier(.175, .885, .32, 1.275)


// Media Queries
$break-sm  = 480
$break-md  = 750
$break-lg  = 1200
