/*
 * --------------------------------------------------------
 *  Base styles
 *  Only single elements. No classes or ids
 * --------------------------------------------------------
 */





html
  -webkit-font-smoothing antialiased
  -webkit-text-size-adjust 100%

body
  box-sizing border-box

  *
    box-sizing inherit


a
  color $copper
  text-decoration none

h1, h2, h3, h4, h5
  font-family $headlineFont
  text-transform uppercase
  letter-spacing 2px

h1
  color $slate
  font-size 45px
  letter-spacing 5px
  padding $mdPadding 0

h2
  color $copper
  font-size 24px

h3
  color $copper
  font-size 18px
  padding $smPadding

p, ol, ul

img

ol

ul

strong
  font-weight bold
em
  font-style italic
