/*
 * Stylus Boilerplate
 *
 * @author  Ivan Cruz
 * @date    03.27.15
 *
 */


// Colors
$slate    = #000
$concrete = #FAFAFA
$copper   = #d29069


// Fonts
$headlineFont = 'Reglo-Bold', serif
$bodyFont     = 'Roboto Mono', sans-serif


// Margin & Padding
$smPadding = 5px
$mdPadding = 15px
$lgPadding = 30px

// Min-Width Media Query

md = 1000px

above(width)
  @media screen and (min-width: width)
    {block}

below(width)
  @media screen and (max-width: width)
    {block}

// Equalize Height
html, body, #root, #root > div
  height 100%

#root
  padding $mdPadding

/*  Imports
 * -------------------------------------------------------- */

@import '_Typography'
@import '_Base'

// Components
@import 'components/*'
@import 'shared/*'
